.home-header {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.home-body {
    margin: 0px var(--horizontal-margin);
}

.home-button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.plain-link {
    color: black;
}