.indi-header {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.indi-table-item {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.table-border {
    outline: 1px solid black;
    margin-bottom: 1px;
    margin-right: 1px;
}

.indi-table {
    margin: 0px var(--horizontal-margin);
}

.lose {
    background-color: var(--fixture-red);
}

.win {
    background-color: var(--fixture-green);
}

.draw {
    background-color: var(--fixture-blue);
}

.blackout {
    background-color: var(--fixture-grey);
}

.hoverable {
    cursor: pointer;
}

.hoverable:hover, .hoverable:focus {
    background-color: #bfbfbf;
}

.three {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.four {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.five {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.six {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.seven {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.eight {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.indi-button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.indi-scorebox-container {
    display: flex;
    flex-direction: row;
}

.indi-scorebox-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 30px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .indi-scorebox-input:focus {
    background-color: #bfbfbf;
} */