@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --horizontal-margin: 80px;
  --background-color: #dbdbdb;
  --primary-blue: #225EA7;
  --primary-white: white;
  --secondary-blue: #4177b9;
  --fixture-red: #E49191;
  --fixture-green: #AEC786;
  --fixture-blue: #89B5D4;
  --fixture-grey: #878787;
}

/* ------ default components ------ */
h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ------ components ------ */
.blue-button {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  padding: 10px 50px;
  border-radius: 50px;
  border-color: transparent;
  font-weight: bold;
  font-size: 16px;
}

.blue-button:hover {
  background-color: var(--secondary-blue);
  cursor: pointer;
}